doctype
html(lang='en', ng-app='phonecatApp')
    head
        meta(charset='utf-8')
        title Google Phone Gallery
        include ./includes/stylesheets
    body
        .view-container
            .view-frame(ng-view='ng-view')
    include ./includes/scripts.jade
